<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Virtual screening benchmark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename="css/bootstrap.min.css")}}"  rel="stylesheet" >
  </head>
 
 
  <header>
    <nav class="navbar navbar-default" style="background-color:#66d9ff">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
          <img style="max-width:150px; margin-top: -15px; margin-left: -15px; max-height:60px" src="{{url_for('static', filename="icona.ico")}}">
          </a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if session.logged_in %}
              <li><a href="{{url_for('logged_home_site')}}"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Home </a></li>
            {% else %}
              <li><a href="{{url_for('main_site')}}"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Home </a></li>
            {% endif %}
          </ul>
         {% block header %}  {% endblock %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  
  <body>
  <!-- jquery -->
  <script src="{{url_for('static', filename="js/jquery-3.2.0.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/bootstrap.min.js")}}"></script>    
  <script>
    $('.dropdown-toggle').dropdown(); 
  </script>
  
                                                                                  
  
  <!-- bootstrap -->
  
  <!-- block body -->
  {% block body %}  {% endblock %}
  <!-- endblock -->
  
		

    
    
  </body>
  
  <footer>
  </footer>
</html>