{% extends "logged_main.html" %}
{% block body_1 %} 
<!--
  !!!!!!!!!!!!!!!!!
-->
<!-- need to create dropdown -->
<!-- !!!!!!!! -->
<!-- !!!!!!!! -->

<h3>Get {{ chosen_option }}: </h3>      
{% set url_one = 'logged_get_' + chosen_option %}            

<!-- radio buttons -->
  <form class="form-horizontal" action="{{ url_for(url_one) }}" method="post">
    <div class="form-group">
      <label for="rbGroup" class="col-sm-2 control-label">Options:</label>
      <div class="col-sm-10" id="rbGroup">
        {% for key in GET_SCREEN %}
          {% if key == chosen_option %}
              {% for option in GET_SCREEN[key] %}      
                <div class="radio">
                  <label data-toggle="tooltip" data-placement="top" title="{{ option[2] }}">
                    <input type="radio" name="optionsRadios" id="{{ option[0] }}" value="opt{{ option[3] }}">
                    {{ option[1] }}
                  </label>
                </div>
              {% endfor %}
          {% endif %}
        {% endfor %}          
     </div>

      <!-- filter textfield -->
        <div class="form-group">
            <label for="filter_field" class="col-sm-2 control-label">Filter:</label>
            <div class="col-sm-10">
              <div class="col-xs-4">
                <input type="text" class="form-control" id="filter_field" placeholder="Filter property" name="filter_field">
              </div>
            </div>
        </div>
      
      <!-- button get -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Get</button>
          </div>
        </div> 
      </div>
  </form>
{% endblock %}