{% extends "logged_main.html" %}
{% block body_1 %}

<h3>Get selection: </h3>

<div class="container">
  <form class="form-horizontal" action="{{ url_for('logged_get_selection') }}" method="post">  
    <div class="form-group">
      <label for="id_selection">ID of selection:</label>
      <input type="text" class="form-control" id="id_selection" name="id_selection" placeholder="ID of selection" style="max-width: 30%;">
    </div>
    <div class="form-group">
      <label for="id_dataset">ID of data set:</label>
      <input type="text" class="form-control" id="id_dataset" name="id_dataset" placeholder="ID of data set" style="max-width: 30%;">
    </div>
    <button type="submit" class="btn btn-default">Get</button>
  </form>
</div>
{% endblock %}