{% extends "logged_main.html" %}
{% block body_1 %}

<h3>Get data set: </h3>

<div class="container">
  <form class="form-horizontal" action="{{ url_for('logged_get_data_set') }}" method="post">  
    <div class="form-group">
      <label for="rbGroup" class="col-sm-2 control-label">Options:</label>
      <div class="col-sm-10" id="rbGroup">
        <div class="radio">
          <label data-toggle="tooltip" data-placement="top" title="SDF file">
          <input type="radio" name="optionsRadios" id="sdf" value="optsdf_file">
            SDF file
          </label>
        </div>
        <div class="radio">
          <label data-toggle="tooltip" data-placement="top" title="Inner data of data set">
          <input type="radio" name="optionsRadios" id="data" value="optdata">
            Data file
          </label>
        </div>
      </div>
      <label for="id_dataset" class="col-sm-2 control-label">ID of data set:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="id_dataset" name="id_dataset" placeholder="ID of data set" style="max-width: 30%;">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Get</button>
  </form>
</div>
{% endblock %}