{% extends "basic_layout.html" %}
{% block header %}
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Signed in as {{ session.username }}</p></li> 
      <li><a href="/logout.html">Log out</a></li>
    </ul>
{% endblock %}

{% block body %}        
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="glyphicon glyphicon-download" aria-hidden="true"></span>  Get  <span class="caret"></span></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="dropdown-header">Get menu:</li>
                <li><a href="/logged/get_analyze.html">Analyze</a></li>
                <li><a href="/logged/get_data_set.html">Data set</a></li>
                <li><a href="/logged/get_file.html">File</a></li>
                <li><a href="/logged/get_method.html">Method</a></li>
                <li><a href="/logged/get_molecule.html">Molecule</a></li>
                <li><a href="/logged/get_selection.html">Selection</a></li>
                <li><a href="/logged/get_subtest.html">Subtest</a></li>
                <li><a href="/logged/get_test.html">Test</a></li>
                <li><a href="/logged/query_done.html">Result</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class=" glyphicon glyphicon-upload" aria-hidden="true"></span>  Put  <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Put menu:</li>
                <li><a href="/logged/put_data_set.html">Data set</a></li>
                <li><a href="{{ url_for('logged_put_method') }}">Method</a></li>
                <li><a href="/logged/put_selection.html">Selection</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>  Run  <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Run menu:</li>
                <li><a href="/logged/run_mc.html">Metacentrum</a></li>
                <li><a href="/logged/run_rc.html">Remote computers</a></li>
                <li><a href="/logged/run_ls.html">Local server</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <script>
          $(.dropdown-toggle).dropdown()
        </script>
        
        {% block body_1 %} {% endblock %}
        
{% endblock %}
