{% extends "unlogged_main.html" %}
{% block body %}
<div class="container">
  <form action="{{ url_for('login_site') }}" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Username" style="max-width: 30%;" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" style="max-width: 30%;" name="password">
    </div>
    {% if ERROR %}<p class="error"><strong>Error:</strong> {{ ERROR }}{% endif %} </p>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}