{% extends "logged_main.html" %}
{% block body_1 %} 
<h1><br></h1>
<h3>Put selection: </h3>
<form class="form-horizontal" action="{{ url_for('logged_put_selection') }}" method="post" enctype=multipart/form-data>
  <div class="form-group">
    <label for="data_set_id" class="col-sm-2 control-label">Data-set ID: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="data_set_id" name="data_set_id" placeholder="ID">
    </div>
  </div>
  <div class="form-group">
    <label for="info_file" class="col-sm-2 control-label">Selection info file: </label>
    <div class="col-sm-10">
     <input type="file" id="info_file" name="info_file">
    </div>
  </div>
  <div class="container-fluid">     
    <div class="row">  
      <div class="col-sm-offset-2 col-md-8">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Put">
      </div>
    </div>
  </div>
</form> 
<h3>An example of a selection info file:</h3>
<textarea class="form-control" rows="20" readonly>{{ EXAMPLE }}</textarea>
  
{% endblock %}