{% extends "logged_main.html" %}
{% block body_1 %} 
<h1><br></h1>
<h3>Put data-set: </h3>
<form class="form-horizontal" action="{{ url_for('logged_put_data_set') }}" method="post" enctype=multipart/form-data>
  <div class="form-group">
    <label for="sdf_file" class="col-sm-2 control-label">SDF file: </label>
    <div class="col-sm-10">
     <input type="file" id="sdf_file" name="sdf_file">
    </div>
  </div>
  <div class="form-group">
    <label for="info_file" class="col-sm-2 control-label">Data-set info file: </label>
    <div class="col-sm-10">
     <input type="file" id="info_file" name="info_file">
    </div>
  </div>
  <div class="container-fluid">     
    <div class="row">  
      <div class="col-sm-offset-2 col-md-8">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Put">
      </div>
    </div>
  </div>
</form> 
<h3>An example of a data-set info file:</h3>
<textarea class="form-control" rows="20" readonly>{{ EXAMPLE }}</textarea>  
{% endblock %}