{% extends "logged_main.html" %}
{% block body_1 %} 
<h1><br></h1>
<h3>Put method: </h3>
<form class="form-horizontal" action="{{ url_for('logged_put_method') }}" method="post" enctype=multipart/form-data>

  <!-- method type -->
  <div class="form-group">
    <label for="method_type" class="col-sm-2 control-label">Method type: </label>
    <div class="col-sm-10">
      <div class="col-xs-4">
        <select id="method_type" class="form-control" name="method_type">
          <option>Python</option>
          <option>General</option>         
        </select>
      </div>
    </div>
  </div>
  
  <!-- py method type  -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Python method type: </label>
    <div class="col-sm-10">
      <label class="radio-inline">
        <input type="radio" name="py_m_type_option" id="inlineRadio1" value="opt_repr" checked> 
        Reprezentation method
      </label>
      <label class="radio-inline">
        <input type="radio" name="py_m_type_option" id="inlineRadio2" value="opt_sim">
        Similarity method
      </label>
    </div>
  </div>
  
  <!-- file -->   
  <div class="form-group">
    <label for="info_file" class="col-sm-2 control-label">Method file: </label>
    <div class="col-sm-10">
     <input type="file" id="info_file" name="info_file">
    </div>
  </div>
  
  <!-- button -->
  <div class="container-fluid">     
    <div class="row">  
      <div class="col-sm-offset-2 col-md-8">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Put">
      </div>
    </div>
  </div>
</form> 
<h3>Examples of files:</h3>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#repr" aria-controls="repr" role="tab" data-toggle="tab">Reprezentation method</a></li>
    <li role="presentation"><a href="#sim" aria-controls="sim" role="tab" data-toggle="tab">Similarity method</a></li>
    <li role="presentation"><a href="#file" aria-controls="file" role="tab" data-toggle="tab">General method</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="repr"><textarea class="form-control" rows="20" readonly>{{ REPR_EXAMPLE }}</textarea></div>
    <div role="tabpanel" class="tab-pane" id="sim"><textarea class="form-control" rows="20" readonly>{{ SIM_EXAMPLE }}</textarea></div>
    <div role="tabpanel" class="tab-pane" id="file"><textarea class="form-control" rows="20" readonly>{{ FILE_EXAMPLE }}</textarea></div>
  </div>

</div>
{% endblock %}