{% extends "logged_main.html" %}
{% block body_1 %}
<div class="container">
  <form action="{{ url_for('query_done_site') }}" method="post">
    <div class="form-group">
      <label for="id_text">Task ID: </label>
      <input type="text" class="form-control" id="id_text" placeholder="ID of query" style="max-width: 30%;" name="id_text">
    </div>
    {% if ERROR %}<p class="error"><strong>Message:</strong> {{ ERROR }}{% endif %}</p>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}