{% extends "unlogged_main.html" %}
{% block body %}
<div class="container">
  <h2>Registration</h2>
  <form action="{{ url_for('registration_site') }}" method="post">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" class="form-control" id="name" placeholder="Name" style="max-width: 30%;" name="name">
    </div>
    <div class="form-group">
      <label for="last_name">Last name: </label>
      <input type="text" class="form-control" id="last_name" placeholder="Last name" style="max-width: 30%;" name="last_name">
    </div>
    <div class="form-group">
      <label for="email">E-mail: </label>
      <input type="text" class="form-control" id="email" placeholder="E-mail" style="max-width: 30%;" name="email">
    </div>
    <div class="form-group">
      <label for="username">Username: </label>
      <input type="text" class="form-control" id="username" placeholder="Username" style="max-width: 30%;" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" class="form-control" id="password" placeholder="Password" style="max-width: 30%;" name="password">
    </div>
    <div class="form-group">
      <label for="password_again">Password again: </label>
      <input type="password" class="form-control" id="password_again" placeholder="Password again" style="max-width: 30%;" name="password_again">
    </div>
    {% if ERROR %}<p class="error"><strong>Error:</strong> {{ ERROR }}{% endif %} </p>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}
