{% extends "logged_main.html" %}
{% block body_1 %}
<!-- info block -->
<h3>Info: </h3>
<form class="form-horizontal">
  <div class="form-group">
      {% set i = 1 %}
      {% for field in FIELDS %}
        {% set i = i + 1 %}
        <label class="col-sm-2 control-label">{{ field[0] }}: </label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ field[1] }}</p>
        </div>
      {% endfor %}
  </div>  
</form>

{% block body_2 %}{% endblock %}
{% endblock %}