{% extends "result.html" %}
{% block body_2 %}


<!-- subtests -->
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      {% set i = 0 %}
      {% for subtest in SUBTESTS %}
        {% set i = i + 1 %}
        {% set name = 'Subtest ' + i|string %}
        {% set id = 'subtest_' + i|string %}
        {% if i == 1 %}                                      
          <li role="presentation" class="active"><a href="#{{ id }}" aria-controls="{{ id }}" role="tab" data-toggle="tab">{{ name }}</a></li>
        {% else %}
          <li role="presentation"><a href="#{{ id }}" aria-controls="{{ id }}" role="tab" data-toggle="tab">{{ name }}</a></li>
        {% endif %}
      {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% set i = 0 %}
    {% for subtest  in SUBTESTS %}
        {% set i = i + 1 %}
        {% set id = 'subtest_' + i|string %}
        {% if i == 1 %} 
          <div role="tabpanel" class="tab-pane active" id="{{ id }}">
        {% else %}
          <div role="tabpanel" class="tab-pane" id="{{ id }}">
        {% endif %}
        
        <!-- context -->
        <!-- subtest info -->
        <h3>Info: </h3>
        <form class="form-horizontal">
          <div class="form-group">
              {% for subtest_subkey, subtest_subvalue in subtest.items() %}
                {% if subtest_subkey is not values_ending and subtest_subkey is not names_ending %}
                  <label class="col-sm-2 control-label">{{ subtest_subvalue[0] }}: </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{ subtest_subvalue[1] }}</p>
                  </div>
                {% endif %}
              {% endfor %}
          </div>  
        </form>
        
        <!-- molecules table -->
        <h1> Molecules </h1> 
        <div class="pre-scrollable">
          <div class="table-responsive">
            <table class="table table-bordered">
              <!-- table headers -->
              <tr>
                {% for header in subtest['molecule_column_names'] %}
                  <th> {{ header }} </th>
                {% endfor %}
              </tr>
              <!-- table rows -->
              {% for row in subtest['molecule_values'] %}
                <tr>
                  <!-- row cells -->
                  {% for cell in row %}
                    <td> {{ cell }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        
        </div>
    {% endfor %}
  </div>

</div>
{% endblock %}