{% extends "result.html" %}
{% block body_2 %}
<h1> Results </h1> 
<div class="pre-scrollable">
  <div class="table-responsive">
    <table class="table table-bordered">
      <!-- table headers -->
      <tr>
        {% for header in HEADERS_TABLE %}
          <th> {{ header }} </th>
        {% endfor %}
      </tr>
      <!-- table rows -->
      {% for row in RESULTS_TABLE %}
        <tr>
          <!-- row cells -->
          {% for cell in row %}
            <td> {{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}