{% extends "logged_main.html" %}
{% block body_1 %}
    
 <h3>Basic stuff:</h3>

  <!-- program type -->
 {% set url_one = 'logged_run_' + TYPE %}            
 
 
  <form class="form-horizontal" action="{{ url_for(url_one) }}" method="post" enctype=multipart/form-data>
    <div class="form-group">
      <label class="col-sm-2 control-label">Program type: </label>
      <div class=" col-sm-10">
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Input file of test is written in python">
            <input type="radio" name="type_option" id="rbPythonType" value="opt_python" checked>
            Python
          </label>
        </div>
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Input file of test is written in something python">
            <input type="radio" name="type_option" id="rbGeneralType" value="opt_general">
            General
          </label>
        </div>
      </div>
    </div>
 

  <!-- optimalization -->

    <div class="form-group">
      <label class="col-sm-2 control-label">Optimalization: </label>
      <div class="col-sm-10">
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Optimalization option for python program">
            <input type="radio" name="optim_option" id="rbOptYes" value="opt_yes" checked>
            Yes
          </label>
        </div>
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Optimalization option for python program">
            <input type="radio" name="optim_option" id="rbOptNo" value="opt_no">
            No
          </label>
        </div>         
      </div>
    </div>
    
    <!-- execute command -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Execute command: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="exec_comm_field" placeholder="Text input" name="execute_comm_field">             
      </div>
    </div>



  <!-- file/repr. method -->

    <div class="form-group">
      <label class="col-sm-2 control-label">Reprezentation method: </label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" name="file_repr_option" id="inlineRadio1" value="opt_upload_file" checked> 
          Select your file: <input type="file" id="file_repr_inp_file" name="file_repr_inp_file">
        </label>
        <label class="radio-inline">
          <input type="radio" name="file_repr_option" id="inlineRadio2" value="opt_id">
          Id of file: <input type="text" class="form-control" placeholder="Text input" name="file_repr_id_field">
        </label>
      </div>
    </div>




  <!-- similarity method -->

    <div class="form-group">
      <label class="col-sm-2 control-label">Similarity method: </label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" name="sim_option" id="inlineRadio1" value="opt_upload_file" checked> 
          Select your file: <input type="file" id="sim_inp_file" name="sim_inp_file">
        </label>
        <label class="radio-inline">
          <input type="radio" name="sim_option" id="inlineRadio2" value="opt_id">
          Id of file: <input type="text" class="form-control" placeholder="Text input" name="sim_id_field">
        </label>
      </div>
    </div>




  <!-- repeat counts -->

    <div class="form-group">
      <label class="col-sm-2 control-label">Repeat: </label>
      <div class="col-sm-10">
        <div class="col-xs-3">           
            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Count</label>
              <div class="input-group">
                <input type="text" class="form-control" id="repeat_box" placeholder="Amount (default 2)" name="repeat_box">
                <span class="input-group-addon">cycle(s)</span>
              </div>
            </div>
        </div>
      </div>
    </div>




  <!-- parallel selections -->

    <div class="form-group">
      <label class="col-sm-2 control-label">Parallel selections: </label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" name="p_sels_option" id="inlineRadio1" value="opt_True" checked> 
          True
        </label>
        <label class="radio-inline">
          <input type="radio" name="p_sels_option" id="inlineRadio2" value="opt_False">
          False
        </label>
      </div>
    </div>

  <script>
    var x = 0;      
    function ar() {
      // adding rows
      var dataset_id = document.getElementById("inputDataset").value; 
      var selection_id = document.getElementById("inputSelection").value;
      var id_dataset = "dataset_" + x;
      var id_selection = "selection_" + x;
      var id_row = "row_" + x;
      
      $("#d_s_table").find("tbody").append($("<tr>").append($("<td>").attr("id", id_dataset).attr("name", id_dataset).text(dataset_id)).append($("<td>").attr("id", id_selection).attr("name", id_dataset).text(selection_id)).attr("id", id_row).attr("name", id_row)); 
      
      // adding inputs
      // <input type="hidden" name="name" value="your value"/>
      var input_name = "d_s_input_" + x;
      var input_value = dataset_id + "_" + selection_id;
      $("#hidden_inputs").append($("<input>").attr("type", "hidden").attr("id", input_name).attr("name", input_name).attr("value", input_value));
      
       x = x + 1; 
    }
    
    function rr() {
         x = x - 1;
         var input_name = "d_s_input_" + x
         var id_row = "row_" + x;
         var ref_row = "#" + id_row;
         var ref_input = "#" + input_name;
         $(ref_row).remove();
         $(ref_input).remove();                 
    }                    
  </script>
  
    

  <!-- d/s -->
  <h3>D/S</h3>

    <div class="form-group">
      <label for="inputDataset" class="col-sm-2 control-label">Data set: </label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="text" class="form-control" id="inputDataset" placeholder="Data set">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputSelection" class="col-sm-2 control-label">Selection: </label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="text" class="form-control" id="inputSelection" placeholder="Selection">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" id="add_new_row" onclick="ar(); return false;">Add row to d/s</button>
        <button class="btn btn-default" id="remove_last_row" onclick="rr(); return false;">Remove last from d/s</button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="col-xs-4">
        <div class="table-responsive" name="table" id="table">
          <table class="table table-bordered" name="d_s_table" id="d_s_table">
            <thead>
              <tr>
                <th>Data set</th>
                <th>Selection</th>
              </tr>
            </thead>
            <tbody id="id_tbody">
            </tbody>
          </table>
        </div>
        </div>
      </div>
      
      <!-- hidden intputs -->
      <div id="hidden_inputs">
          
      </div>
    </div>

  
  {% block body_2 %}{% endblock %} 
      
    <div class="container-fluid">     
      <div class="row">  
        <div class="col-sm-offset-2 col-md-8">
          <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>  
{% endblock %} 