{% extends "run_ls.html" %}
{% block body_2 %} 

  <script>
    var x = 0;      
    function arpc() {
      // adding rows
      var hostname = document.getElementById("input_hostname").value; 
      var username = document.getElementById("input_username").value;
      var password = document.getElementById("input_password").value; 
      var os = document.getElementById("select_os").value;
      var version = document.getElementById("input_version").value; 
      var id_row = "pcs_row_" + x;
      
      $("#pcs_table").find("tbody").append($("<tr>").append($("<td>").text(hostname))
                                                    .append($("<td>").text(username))
                                                    .append($("<td>").text(password))
                                                    .append($("<td>").text(os))
                                                    .append($("<td>").text(version))
                                                    .attr("id", id_row).attr("name", id_row)); 
      
      // adding inputs
      // <input type="hidden" name="name" value="your value"/>
      var input_name = "pcs_input_" + x;
      var input_value = hostname + "_" + username + "_" + password + "_" + os + "_" + version;
      $("#hidden_inputs").append($("<input>").attr("type", "hidden").attr("id", input_name).attr("name", input_name).attr("value", input_value));
      
       x = x + 1; 
    }
    
    function rrpc() {
         x = x - 1;
         var input_name = "pcs_input_" + x;
         var id_row = "pcs_row_" + x;
         var ref_row = "#" + id_row;
         var ref_input = "#" + input_name;
         $(ref_row).remove();
         $(ref_input).remove();                 
    }                    
  </script>
<!-- pc to use -->
  <h3>PC to use</h3>
    <div class="form-group">
      <label for="input_hostname" class="col-sm-2 control-label">Hostname</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="text" class="form-control" id="input_hostname" name="input_hostname" placeholder="Hostname">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="input_username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="text" class="form-control" id="input_username" name="input_username" placeholder="Username">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="input_password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="password" class="form-control" id="input_password" name="input_password" placeholder="Password">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select_os" class="col-sm-2 control-label">OS</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <select class="form-control" id="select_os" name="select_os">
            <option>LINUX</option>
            <option>WINDOWS</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="input_version" class="col-sm-2 control-label">Python version:</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="text" class="form-control" id="input_version" name="input_version" placeholder="Version (2.7, 3.5)">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" id="add_new_row" onclick="arpc(); return false;">Add row to pcs table</button>
        <button class="btn btn-default" id="remove_last_row" onclick="rrpc(); return false;">Remove last from pcs table</button>
      </div>
    </div>

  
<div class="table-responsive">
  <table class="table table-bordered" id="pcs_table">
    <!-- table headers -->
    <thead>
      <tr>
          <th> Hostname </th>
          <th> Username </th>
          <th> Password </th>
          <th> OS </th>
          <th> Python version </th>
      </tr>
    </thead>
    <!-- table rows -->
    <tbody>
        <!-- row cells -->            
    </tbody>
  </table>
</div>

<div id="hidden_inputs">
          
</div>

{% endblock %}