{% extends "run_ls.html" %}
{% block body_2 %} 

  <!-- front end nodes -->
   <h3>Front end nodes: </h3>
    <div class="form-group">
      <label for="select_fen" class="col-sm-2 control-label">Front-end node:</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <select id="select_fen" name="select_fen" class="form-control">
            {% for node in NODES %}
              <option>{{ node }}</option>      
            {% endfor %}
          </select>
        </div>
      </div>
    </div>





  <!-- METACENTRUM LOGIN DATA -->
  <h3>Metacentrum data: </h3>
    <div class="form-group">
      <label for="input_login" class="col-sm-2 control-label">Login:</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="text" class="form-control" id="input_login" name="input_login" placeholder="Login">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="input_password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <input type="password" class="form-control" id="input_password" name="input_password" placeholder="Password">
        </div>
      </div>
    </div>  

{% endblock %}