{% extends "basic_layout.html" %}
{% block header %} 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{url_for('login_site')}}">Log in</a></li>
      <li><a href="{{url_for('registration_site')}}">Sign up</a></li>
    </ul>
{% endblock %}
{% block body %}{% block body_1 %} {% endblock %} {% endblock %}
